*{
direction: rtl;
font-size: medium;
}
.text{
  position: absolute;
  font-size: 25px;
  color: rgb(175, 174, 174);
  bottom: 20px;
  text-decoration: none;
  border: 2px solid rgb(121, 119, 119);
  background-color: rgba(10, 8, 8, 0.5);
  margin-right: 250px;
  margin-left: 200px;
  padding: 9px;
}

.carousel-item:hover p{
  background: black;
}
.text2{
  position: absolute;
  font-size: 25px;
  color: rgb(175, 174, 174);
  bottom: 20px;
  text-decoration: none;
  border: 2px solid rgb(121, 119, 119);
  background-color: rgba(10, 8, 8, 0.5);
  margin-right: 400px;
}

.descound{
  text-decoration: line-through;
  color: rgb(172, 60, 60);
}

.search-logo{
height: 20px;
width: 20px;

}

.moda{
  width: 6655px;
  height: 4450;
}

.search-button{
  border-radius: 3px;
  border-color: white;
  margin-right: 2px;
  background-color:white;
}

.header{
text-decoration: none;
background-color: rgba(207, 199, 188, 0.616);
margin-top: 30px;
}

.nav-color{
    background-color:rgb(255, 168, 168);
    }
    
.my-img{
  border-radius:5px;
}

.gray-img{
  filter: grayscale(100%);
  transition: all 0.5s;
}

.gray-img:hover{
  filter: grayscale(0%);
}

.textbrand{
  color:rgb(67, 99, 245);
margin-left: 50px;
  
}


.img-model{
  width: 300px;
  height: 450px;
}

.pc-style {
box-shadow: 0px 10px 20px;
color: black;
}

.dropdown-item{
text-align: right;

}


.search-txt{
  border: 5px;
  border-color: rgb(255, 255, 255);
  font-style: italic;
  border-style: ridge;
  margin-left: 0px;
  width: 300px;
  border-radius: 50px;
  }

/***service***/
.service-item {
  box-shadow: 0 0 45px rgb(255, 168, 168);
  transition: .5s;

}

.service-item:hover {
  background: var(--primary);
}

.service-item * {
  transition: .5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** Team ***/
.team-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, .08);
  height: calc(100% - 38px);
  transition: .5s;
}

.team-item img {
  transition: .5s;
}

.team-item:hover img {
  transform: scale(1.1);
}

.team-item:hover {
  height: 100%;
}

.team-item .btn {
  border-radius: 38px 38px 0 0;
}