*{
direction: rtl;
font-size: medium;
}
.text{
  position: absolute;
  font-size: 25px;
  bottom: 35px;
  padding: 30px;
  font-style: italic;
  padding-left:  300px;
  padding-right: 300px;
  margin-right:40px;
  border-radius: 40px;
  margin-left: 0px;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(0, 0, 0, .2);
}


.search-logo{
height: 20px;
width: 20px;

}

.moda{
  width: 6655px;
  height: 4450;
}

.search-button{
  border-radius: 3px;
  border-color: white;
  margin-right: 2px;
  background-color:white;
}

.header{
text-decoration: none;
background-color: rgba(207, 199, 188, 0.616);
margin-top: 30px;
}

.nav-color{
    background-color:rgb(255, 168, 168);
    }
    
.my-img{
  border-radius:5px;
}

.gray-img{
  filter: grayscale(100%);
  transition: all 0.5s;
}

.gray-img:hover{
  filter: grayscale(0%);
}

.textbrand{
  color:rgb(67, 99, 245);
}

.img-model{
  width: 300px;
  height: 450px;
}

.pc-style {
box-shadow: 0px 10px 20px;
color: black;
}

.dropdown-item{
text-align: right;

}


.search-txt{
  border: 5px;
  border-color: rgb(255, 255, 255);
  font-style: italic;
  border-style: ridge;
  margin-left: 0px;
  width: 300px;
  border-radius: 50px;
  }